@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: white;
}

.content {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

li {
  margin-bottom: 18px;
}
li::marker {
  color: #181872;
  font-size: 32px;
}

.title-section {
  background: var(--Starknet-Gradient, linear-gradient(270deg, #9b5584 0%, #181872 108.63%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
}

.subTitle-section {
  color: #fc34ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.c {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
